/* ------------------------- BODY ------------------------- */
body {
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
body.light {
  background-color: #eee !important;
  color: #333 !important;
}
body.dark {
  background-color: #333 !important;
  color: #eee;
}

/* ------------------------- IMAGE ------------------------- */
body.light img {
  border: 1px solid #333;
  box-shadow: 3px 2px 3px #333;
}
body.dark img {
  border: 1px solid #18cae6;
  box-shadow: 3px 2px 3px #18cae6;
}

/* ------------------------- HR (LINE) ------------------------- */
body.light hr {
  background: #333;
  box-shadow: 2px 1px 2px #333;
}
body.dark hr {
  background: #18cae6;
  box-shadow: 2px 1px 2px #18cae6;
}

/* ------------------------- JS TEXT DISPLAY ------------------------- */
code {
  border-radius: 5px;
  padding-bottom: 1px;
}
body.dark #cursor,
body.dark #console {
  color: #18cae6;
}
body.dark #dynamic-desc {
  color: #eee;
}
body.light #cursor,
body.light #console {
  color: #eee;
  background: #333;
}
body.light #dynamic-desc {
  color: #eee;
  background: #333;
}

/* ------------------------- THEME BUTTON ------------------------- */
body.light #theme__button {
  border-color: #18cae6;
  background: #333;
  color: #18cae6;
  box-shadow: 2px 2px 7px #333;
}
body.light #theme__button:hover {
  background: #444;
  box-shadow: 2px 2px 2px #333;
}
body.light #theme__button:active {
  border-color: #333;
  background: #18cae6;
  color: #333;
  box-shadow: 2px 2px 7px #333;
}
/* --- DARK --- */
body.dark #theme__button {
  border-color: #333;
  background: #eee;
  color: #333;
  box-shadow: 2px 2px 7px #eee;
}
body.dark #theme__button:hover {
  background: #ddd;
  box-shadow: 2px 2px 2px #eee;
}
body.dark #theme__button:active {
  border-color: #eee;
  background: #333;
  color: #eee;
  box-shadow: 2px 2px 2px #eee;
}

/* ------------------------- MENU BUTTONS ------------------------- */
body.light .border-info :hover {
  border: 1px solid #333;
  box-shadow: 3px 2px 3px #333;
}
body.light .border-info-none :hover {
  border: none;
  box-shadow: none;
}
body.light .border-info :active {
  border: 1px solid #333;
  box-shadow: 1.5px 1px 1.5px #333;
}
body.light .border-info-none :active {
  border: none;
  box-shadow: none;
}
/* --- DARK --- */
body.dark .border-info :hover {
  border: 1px solid #18cae6;
  box-shadow: 4px 4px 15px #18cae6;
}
body.dark .border-info-none :hover {
  border: none;
  box-shadow: none;
}
body.dark .border-info :active {
  color: #18cae6;
  border: 1px solid #18cae6;
  box-shadow: 2px 2px 5px #18cae6;
}
body.dark .border-info-none :active {
  border: none;
  box-shadow: none;
}

/* ------------------------- MODALS ------------------------- */
body.light .modal-header,
body.light .modal-body,
body.light .modal-footer,
body.light .modal-header > button > span {
  background-color: #eee !important;
  color: #333 !important;
  border-color: #ddd;
}
body.light .modal-dialog {
  border-color: #333;
}
/* --- DARK --- */
body.dark .modal-header,
.modal-body,
.modal-footer,
body.dark .modal-header > button > span {
  background-color: #333 !important;
  color: #eee;
  border-color: #222;
}
body.dark .modal-content {
  border: 1px solid rgba(24, 202, 230, 0.7);
  /* box-shadow: 0 4px 15px #18cae6; */
}

/* ------------------------- ABOUT MODAL ------------------------- */

/* ------------------------- EXPERIENCE MODAL ------------------------- */

body.light .card {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #eee;
  color: #333;
  box-shadow: 0 4px 8px 0 #18cae6;
  transition: 0.3s;
}
body.light .card:hover {
  box-shadow: 0 4px 16px 0 #18cae6;
}
body.dark .card {
  margin-top: 10px;
  border-radius: 5px;
  border-color: #18cae6;
  background-color: #333;
  color: #eee;
  box-shadow: 0 4px 8px 0 #444;
  transition: 0.3s;
}
body.dark .card:hover {
  /* box-shadow: 0 4px 16px 0 #18cae6; */
}

.card-header {
  cursor: pointer;
}
.card-header > p {
  margin: 0;
}
.card-body {
  text-align: center;
}
.experience__company {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  float: left;
}
.experience__date {
  font-size: 10px;
  font-style: italic;
  display: inline-block;
  font-weight: initial;
}
.experience__title {
  font-size: 15px;
  display: inline-block;
  float: right;
}

body.dark code {
  background-color: #222;
}
body.light code {
  background-color: #ddd;
}

#a-tag-menu {
  text-decoration: none !important;
  padding: 5px 50px;
  border-radius: 25px 0px;
  font-size: 25px;
}
body.dark a {
  color: #ddd;
}
body.dark a:hover {
  /* opacity: 0.75; */
  /* color: #333; */
  /* background-color: #eee; */
}

body.light a {
  color: #333;
}
body.light a:hover {
  /* opacity: 0.75; */
  /* color: #eee; */
  /* background-color: #333; */
}

#theme__button {
  font-size: 20px;
  border-radius: 12.5%;
  margin: 10px;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

.section__landing {
  height: 100vh;
  margin: 0 auto;
}

.profile__picture {
  border-radius: 100%;
  width: 30%;
  max-width: 207px;
}

.profile__name {
  margin: 0;
  text-align: center;
}

.console__wrapper {
  text-align: center;
}

.modal-full {
  min-width: 80%;
  max-height: 80vh;
  margin: 0;
  padding: 0;
  /* overflow-y: scroll; */
}
.modal-full > .modal-content > .modal-body {
  max-height: 75vh;
  overflow-y: scroll;
  text-align: center;
  background: #333;
}

#modal-footer-bordertop-none {
  border: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
