@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins');
.social_buttons_center {
  position: fixed;
  bottom: 0px;
  left: calc(50% - 164.55px);
  z-index: 999;
}

.theme_changer {
  position: fixed;
  bottom: 0px;
  right: 0;
  top: 0;
  z-index: 999;
}

.icon-pack2 {
  width: fit-content;
  z-index: 999;
}

.icon-pack2 ul li {
  list-style-type: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  display: table-cell;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}
.icon-pack2 ul {
  margin-top: 0px;
  padding-right: 10px;
  /* display: grid; */
  table-layout: fixed;
}

.icon-pack2 ul li a .fa {
  font-size: 30px;
  color: #262626;
  line-height: 45px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
body.dark .icon-pack2 ul li a .fas {
  font-size: 30px;
  color: #262626;
  line-height: 45px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
body.dark .icon-pack2 ul li:hover .fas {
  color: #ddd;
}
body.light .icon-pack2 ul li a .fas {
  font-size: 30px;
  color: #262626;
  line-height: 45px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
body.light .icon-pack2 ul li:hover .fas {
  color: #18cae6;
}
.icon-pack2 ul li a {
  position: -ms-page;
  margin: 0 5px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 2px 4px 2px 0px;
  background-color: #eee;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0);
  -moz-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  -o-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon-pack2 ul li a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  border-radius: 2px 2px 0px 0px;
  background-color: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  -webkit-transform: rotate(0deg) skewY(-45deg);
  -moz-transform: rotate(0deg) skewY(-45deg);
  -o-transform: rotate(0deg) skewY(-45deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon-pack2 ul li a:after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 5px;
  height: 10px;
  width: 100%;
  border-radius: 2px 2px 2px 0px;
  background-color: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  -webkit-transform: rotate(0deg) skewX(-45deg);
  -moz-transform: rotate(0deg) skewX(-45deg);
  -o-transform: rotate(0deg) skewX(-45deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

.icon-pack2 ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  -moz-transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  -o-transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.icon-pack2 ul li:hover .fa {
  color: #fff;
}
.icon-pack2 ul li:hover a .fas {
  color: #ddd;
}
.icon-pack2 ul li:hover:nth-child(1) a {
  background-color: #484c52;
}
.icon-pack2 ul li:hover:nth-child(2) a {
  background: #3b5999;
}
body.dark .icon-pack2 ul li:hover:nth-child(3) a {
  background: #484c52;
}
body.light .icon-pack2 ul li:hover:nth-child(3) a {
  background-color: #585c62;
}

.icon-pack2 ul li:hover:nth-child(1) a:before {
  background-color: #585c62;
}
.icon-pack2 ul li:hover:nth-child(2) a:before {
  background: #4b69a9;
}
body.light .icon-pack2 ul li:hover:nth-child(3) a:before {
  background: #33FF33;
}
body.dark .icon-pack2 ul li:hover:nth-child(3) a:before {
  background: #bbb;
}

.icon-pack2 ul li:hover:nth-child(1) a:after {
  background-color: #686c72;
}
.icon-pack2 ul li:hover:nth-child(2) a:after {
  background: #5b69b9;
}
body.light .icon-pack2 ul li:hover:nth-child(3) a:after {
  background: #33FF33;
}
body.dark .icon-pack2 ul li:hover:nth-child(3) a:after {
  background: #ddd;
}
